<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMPersonCenterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1526496D1E5459A100EF0FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152649861E5459A200EF0FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152649911E5459A200EF0FBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
